#logo{

	width:75px;

}
#logo1{
	width: 25px
}
#prof{
	width: 200px;
	padding-top: 50px;
	text-align: center;
}


.index{
	text-align: center;
	background-image: url("img/tanjung-ringgit.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#welcome-page {

	padding-top:150px;
	padding-left: 350px;	
  	width: 500px;
  	background: none;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	text-align: center;
	font-family: Barrio ;
	color: #FFFAF4

}

div >h1{
	font-size:75px;
	cursor: default;

}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

header{
	width: 100%;
	padding: 0.05em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    background-image: url("img/simply-solids-dark-green.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    position: fixed;
}

footer{
	width: 100%;
    text-align: center;
    background-image: url("img/simply-solids-dark-green.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   	padding: 20px;
    text-align: center;
    color:white;
    position: absolute;
}

section{
	padding-top: 110px;
	text-align: center;
	font-size: 50px;
}

#profpic {
	border-radius: 50%;
	width: 25%;
}
